@model List<Insert_DataBase_Example.Models.OpenData>
@{
    ViewData["Title"] = "Index";
}

<h2>OpenData</h2>

<table class="table">
    <thead>
        <tr>
            <th>資料年度</th>
            <th>統計項目</th>
            <th>稅目別</th>
            <th>資料單位</th>
            <th>值</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>